
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <title>解析psd_design压缩包</title>
  </head>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <style>
    body {
       display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
      margin: 0;
      padding: 0;
    }
    #app {
      text-align: center;
      width: 360px;
      height: 300px;
    }
     #help {
      width: 400px;
      border: 3px solid red;
      text-align: left;
    }
    .content {
      display: flex;
      justify-content: space-around;
    }
  </style>
  <body>
    <div id="app">
      <div>
        <h1>psd_design包生成mockup资源包</h1>
        <div class="content">
          <el-upload id="file" accept=".zip" class="upload-demo" :auto-upload="false" drag multiple action="">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处，或<em>点击添加</em></div>
          </el-upload>
          <el-button :loading="loading" style="margin-left: 10px;" @click="upload" type="primary">提交</el-button>
        </div>
      </div>
    </div>
    <div id='help'>
      <h1>说明文档</h1>
      上传文件格式（spu_deisgn.zip）
      <ul> 
          <li>Front.psd(固定命名，不要写错)</li>
          <li>Back.psd</li>
          <li>Left.psd</li>
          <li>Right.psd</li>
          <li>ori(原始点阵)</li>
       </ul>
       <img src="./help.jpg"  alt="psd内部组织方式" height="400" width="300">
    </div>

    <script>
      new Vue({
        el: "#app",
        data() {
          return {
            loading: false,
          };
        },
        methods: {
          upload() {
            this.loading = true;
            const files = document.querySelector("#file input").files;
            const fd = new FormData();
            console.log(files);
            for (let i = 0; i < files.length; i++) {
              const file = files[i];
              fd.append("img" + i, file);
            }
            fetch("http://47.101.158.77/mockup_vertext/parse_psd_package_process", {
              method: "POST",
              body: fd,
            }).then(function(res) {
              const filename = res.headers.get('content-disposition').split(';')[1].split('=')[1]

              res.blob().then(blob => {
                const link = document.createElement('a')
                link.style.display = 'none'
                // a 标签的 download 属性就是下载下来的文件名
                link.download = filename
                link.href = URL.createObjectURL(blob)
                document.body.appendChild(link)
                link.click()
                // 释放的 URL 对象以及移除 a 标签
                URL.revokeObjectURL(link.href)
                document.body.removeChild(link)
               })
            })
              .catch((e) => console.log(e))
              .finally(() => {
                this.loading = false;
              });
          },
          subPicForm() {},
        },
      });
    </script>
  </body>

